.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    margin: 4px;
}

.video-item.item {
    background-color: navy;
    opacity: 0.7;
    padding: 1px;
}

.video-item.item img {
    max-width: 250px;    
}

.content {
    max-width: 200px;
}